.App {
  text-align: center;
}

.App-header {
  background-color: #30483d;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.github-profile {
  margin: 1rem;
}

.github-profile img {
  width: 75px;
}

.github-profile .info {
  display: inline-block;
  margin-left: 12px;
}

.github-profile .info .name {
  font-size: 1.25rem;
  font-weight: bold;
}

form {
  border: thin solid #ddd;
  background-color: #fbfbfb;
  padding: 2rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}

.header {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.cardArea {
  min-height: 100vh;
}